<html>
  <head>
    <title>belong rss - a makeshift rss feed for belong.io</title>
  </head>
<body>
made an <a href="/feed">rss</a> wrapper for <a href="http://belong.io/">belong.io</a> from <a href="https://twitter.com/waxpancake">@waxpancake</a>

<br /><br />
<a href="https://github.com/spacechurro/belong_rss">https://github.com/spacechurro/belong_rss</a>

<br /><br />
-<a href="https://twitter.com/spacechurro">Sergio</a>
</body>
</html>
